<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.type.automotive"
        android:required="true" />

    <application>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">

            <!-- This entry makes MMKVInitializer discoverable. -->
            <meta-data  android:name="com.kineton.automotive.sdk.initializers.MMKVInitializer"
                android:value="androidx.startup" />

            <!-- This entry makes RoomInitializer discoverable. -->
            <meta-data  android:name="com.kineton.automotive.sdk.initializers.RoomInitializer"
                android:value="androidx.startup" />

            <!-- This entry makes CacheInitializer discoverable. -->
            <meta-data  android:name="com.kineton.automotive.sdk.initializers.CacheInitializer"
                android:value="androidx.startup" />
        </provider>
    </application>
</manifest>